* {
	box-sizing: border-box;
}
body{
	/* font-family: 'Comic Sans MS'; */
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.contenedor{
	margin-top: 50px;
	padding-top: 30px;
}

header{
	height: 50px;
    background-color: #5DBA5E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cont-navLogin{
	width: 100%;
    color: #fff;
    display: flex;
    padding: 5px;
    justify-content: space-between;

}
.cont-logo{
	height: auto;
	width: 150px;
	margin-top: 5px;
}
.cont-nav{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}
.cont-nav .cont-iconos{
	margin-right: 10px;
	display: none;
}
.cont-iconos a{
	text-decoration: none;
	color: white;
    font-size: 25px;

}
.cont-search{
	border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    min-width: 220px;
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.cont-search input{
	border: none;
	width: 100%;
    font-size: 12px;
    font-style: italic;
    color: #f5f5f5;
}
.cont-search input:focus, .cont-search input:active{
	border: none !important;
}
.cont-search button{
	background: none;
	border: none;
}
.cont-search button i{
	color: #777;
}

/* inicio estilos de la home */

.post-icons {
	width: 30px;
}

ul {
	list-style: none;
}

.tipodepost-container{
	display: flex;
	background-color: #3f94a1;
	padding: 15px 0px;
	border-radius: 5px;
	align-items: center;
	justify-content: space-between;
}

.tipodepost-container a{
	color: white;
	text-decoration: none;
	text-align: center;
}

.tipodepost-container ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: space-evenly;
	justify-content: space-around;
	padding: 0px;
	flex-wrap: wrap;
	margin: 0;
}

.tipodepost-container i{
	font-size: 30px;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
}

li a i{
font-size: 25px;
color: white;
margin-right: 12px;
}

.post-container{
	border: 1px solid #3f94a1;
	border-radius: 5px;
	overflow: hidden;
	flex-wrap: wrap;
}

.post-description{
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
	align-content: space-evenly;
	position: relative;
	overflow: hidden;
	flex-wrap: wrap;
}

.post-description i{
	position: absolute;
	top: 5px;
	right: 20px;
	color: #2c6087;
}

.description{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.event-icon-trophy {
	width: 80px;
	height: 40px;
	margin-top: 15px;
	left: 5px;
}

.event-icon-ball {
	width: 40px;
	height: 40px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	left: 5px;
}

.second-row-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
}

.teams{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 80%;
}


.join{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	overflow: hidden;
	width: 20%;
	padding: 10px 0px;
	text-align: center;
}

.join i {
	font-size: 40px;
	text-align: center;
	color: #2c6087;
	display: block;
}

.join a{
	display: block;
	text-decoration: none;
	color: #3f94a1;
}

.post-footer{
	background-color: #3f94a1;
	color: white;
	display: flex;
	flex-direction: row;
	padding: 10px 30px;
	font-size: 20px;
}

.post-footer a{
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.team1{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.team2{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.team-member{
	width: 30px;
	border-radius: 50%;
}

.messages{
	display: none;
}

/*-------------- ESTILOS PARA EL FAQ ---------------*/
.cont-main-FAQ section{
	margin: auto;
}
.cont-main-FAQ h1{
	color: #3f94a1;
	text-align: center;
}

.card-header{
	background-color: #3f94a1;
}

.cont-search-faq, .cont-search-input {
	display: flex;
	justify-content: space-between;
	border: solid 1px #3f94a1;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px
}
.cont-search-faq input, .cont-search-input input{
	border: none;
	width: 90%;
}
.cont-search-faq i, .cont-search-input i{
	font-size: 20px;
	margin-right: 5px;
	color: #777;
}
.btn-container{
	padding: 0;
}

.btn{
	background-color: #3f94a1;
}

.btn-link{
	background-color: #3f94a1 !important;
	color: white;
	width: 100%;
	text-decoration: none;
	text-align: left;
	padding-left: 20px;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:checked {
	text-decoration: none;
	color: white;
}

.card-body{
	color: #3f94a1;
}

.paginado-faq{
	margin-top: 10px;
}
.page-link{
	color: #3f94a1 !important;
}
/*----------estilos del footer------------*/
footer{
	font-size: 12px;
	color: #fff;
	height: auto;
	padding: 5px;
    background-color: #777;
    position: fixed;
    bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: space-between;
}

/*----------break points-------------------*/
@media (min-width: 640px){
	.cont-nav .cont-iconos{
		display: block;
	}
}
@media (min-width: 768px){

.chat{
	display: flex;
	flex-direction: row;
}

.messages{
	position: fixed;
	bottom: 0;
	right: 10px;
	background-color: #5dba5e;
	color: white;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
}

.messages i{
	color: #2c6087;
}

.messages a{
	text-decoration: none;
	color: white;
}
}
